<div class='container'>
  <h1 class='text-dark'> Completadas </h1>
  <div class='row'>
    <% @tasksusers.each do |tus| %>
      <% @task.each do |ta| %>
        <% if tus.completed == true && tus.task_id == ta.id %>
          <div class='col-md-4'>
            <div class='card text-white border-primary'>
              <%= image_tag ta.photo, class:'card-img-top' %>
              <div class='body text-center'>
                <h5> <%= ta.title %> </h5>
                <p> <%= ta.description %> </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <div class='w-100 mt-2'> </div>
  </div>
</div>